body {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: auto;
  padding-top: 200px;
  direction: rtl;
}

.red{
  color: rgb(238, 107, 107);

}
.blue{
  color: rgb(99, 99, 174);
}
.green{
  color: green;
}
.yellow{
  color: yellow;
}

.bg-black{
  background-color: black;
  padding: 60px 20px 60px 20px;
}

@font-face {
  font-family: kalameh;
  src: url(font/KalamehWeb\(FaNum\)-Medium.woff2);
}
#persian-title{
  font-family: kalameh;
}

.box{
  width: 100px;
  height: 100px;
  margin: 100px;
  background-color: red;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  transition: all 1s;
}

.box:hover{
  transform: scale(2);
background-color: black;
}

